@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Nunito:ital,wght@0,200;0,300;0,400;1,300;1,400&family=Raleway:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

/*reseteo de css*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box
}

.logoElComienzo {
  width: 10rem;
}

html {
  font-family: "Nunito", sans-serif;
}

.nav-link {
  color: black;
}

.nav-item :hover {
  color: #000000;
  font-weight: bolder;
}

#nav-cabanas {
  padding-top: 3rem;
}

.fotoIndex {
  width: 20rem;
  border: solid;
  color: #578e3e;
  position: relative;
  transition: 2s transform;
  display: block;

}

.descripcionFoto {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #c5e48c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.5s opacity ease-in-out;
  opacity: 0;
}

.cabañasIndex:hover .descripcionFoto {
  opacity: 1;
}

.mainIndex {
  background: #c5e48cfe;
}

.indexPlaya {
  background-image: url(../Assets/CostaPlaya1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: medium;
  color: black;
  font-weight: bolder;
}

.itemCabañasIndex {
  color: #000000;
  text-decoration: none;
  padding-bottom: 1rem;
}

.itemCabañasIndex:hover {
  color: #000000;
  font-weight: bolder;

}

.cabañasIndex {
  list-style: none;
  padding-top: 2rem;
  background: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 1px 0;
  padding: 0;
}

/* principal */
.grillaSection {
  background-color: #c5e48c;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "cabaña foto";
}

.mainContacto {
  background-image: url(../Assets/Costaplaya2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


.itemFormulario {
  margin: 0.4rem 2rem 0.4rem 2rem;
  background-color: #94c080;
  padding: 3px;
  border-radius: 4px;
}

.boton {
  border: none;
  width: 60%;
  background-color: #578e3e;
  padding: 10px;
  margin-left: 3rem;

}

.botonEnviar :hover {
  transition: all 0.3s ease;
  background: rgba(117, 166, 28, 1);
  font-weight: bold;
}

.formulario {
  background-color: #94c080;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mainUbicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c5e48c;
  font-size: medium;
  color: black;
  font-weight: bold;
  padding-bottom: 10rem;

}
.fotoAdicional{
  border:solid;color: #578e3e;
}
.infoContainer {
  padding: 6rem 0;
  background-color: white;
}

.info h2 {
  margin: auto auto 2rem 0;
  
}

.info p {
  width: 80%;
  margin: 0 auto auto 0;
}

.cabaña h4 {
  margin: 1rem;
  text-decoration: underline;

}

.cabaña h6 {
  margin: 1rem;
  font-size: medium;
  text-decoration: underline;
}

.cabaña {
  font-size: small;
  margin-left: 3rem;
  margin-top: 4rem;
  grid-area: cabaña;
}

.infoDeContacto {
  margin-bottom: 4rem;
}

.mainCabaña {
  background-color: #c5e48c;

}

.foto {
  margin-top: 15rem;
  width: 32rem;
  grid-area: foto;
  border: solid;
  color: #578e3e;
}

.carousel-inner{
  padding-left: 1rem;
  padding-right: 1rem;
}
footer {
  background: rgb(117, 166, 28);
  background: radial-gradient(circle, rgba(117, 166, 28, 1) 0%, rgba(149, 190, 72, 1) 46%, rgba(143, 168, 93, 1) 100%);

}

.instagram {
  width: 2.1rem;
}

.facebook {
  width: 1.7rem;
  margin-right: 2rem;

}

.textoDireccion {
  text-decoration: solid;
  color: black;
  font-weight: bold;
  padding: 1.5rem;
}

main p {
  margin: 1rem;
  font-size: larger;

}

.ubicacion {
  width: 40rem;
  height:30rem;
  border-radius: 1rem;
  position: relative;
  transition: .5s ease all;
  top: 2rem;
}


.fotoHamacas {
  position: relative;
  top: 2rem;
  border: solid;
  color: #578e3e;
}

.fotoParrilla {
  position: relative;
  top: 3rem;
  border: solid;
  color: #578e3e;
}


.serviciosContainer {
  background-color: #c5e48c;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.serv h2 {
  margin: 1rem auto 2rem 0;
  text-decoration: underline;
}

.serv p {
  width: 80%;
  margin: 0rem auto auto 0rem;
  padding-left: 1rem;
}


.mapaGrande :hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  border-radius: 1rem;
}

/*
320px-480px: Mobile devices
481px-768px: Ipods,Tablets
769px-1024px: Small screens, Laptops
1025px-1200px: Desktops, Large screens
1201px and  more- extra Large screens, TV
*/
/* Small*/
@media screen and (max-width: 576px) {
  .indexPlaya {
    height: 50rem;
  }

  .fotoIndex {
    width: 100%;
  }

  .cabañasIndex {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .itemCabañasIndex {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .foto {
    display: 10rem;
  }

  .mapaGrande:hover {
    display: none;
  }
  .info h2 {
    margin: 1rem auto 1rem auto;
    
  }
  
  .info p {
    width: 80%;
    margin: 1rem auto 1rem auto;
  }
  .grillaSection {
    display: flex;
    flex-direction: column;
  }
  .serviciosContainer {
    display: flex;
    flex-direction:column;
  }
  .ubicacion{
  width: 18rem;
  height:14rem; }
}

/* Medium*/
@media screen and (max-width: 768px) {

  .grillaSection {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
  }

  .foto {
    margin-top: 3rem;
  }

  .indexPlaya {
    height: 45rem;
  }

  .fotoIndex {
    width: 12.12rem;
    margin: 1rem;
  }

  .foto {
    width: 20rem;
  }


  .mapaGrande:hover {
    display: none;
  }
  .info h2 {
    margin: 1rem auto 1rem auto;
    
  }
  
  .info p {
    width: 80%;
    margin: 1rem auto 1rem auto;
  }
  .serviciosContainer {
    display: flex;
    flex-direction:column;
  }
  .ubicacion{
    width: 20rem;
    height:15rem; }
}

/* Medium*/
@media screen and (min-width: 768px) {
  .indexPlaya {
    height: 45rem;
  }

  .fotoIndex {
    width: 15rem;
    margin: 2rem;
  }

  .foto {
    width: 25rem;
    margin-right: 2rem;
  }

}