@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Nunito:ital,wght@0,200;0,300;0,400;1,300;1,400&family=Raleway:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

/*reseteo de css*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box
}

.barra__logoElComienzo {
  width: 10rem;
}

html {
  font-family: "Nunito", sans-serif;
}

.barra__link {
  color: black;
}

.barra__link:hover {
  color: #000000;
  font-weight: bolder;
}

.cabañas__nav {
  padding-top: 3rem;
}
.cabañas__link:hover {
  color: #000000;
  font-weight: bolder;
}
.cabañas__link {
  color: black;
}

.index__foto {
  width: 20rem;
  border: solid;
  color: #578e3e;
  position: relative;
  transition: 2s transform;
  display: block;

}

.index__descripcion {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #c5e48c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.5s opacity ease-in-out;
  opacity: 0;
}

.index__cabañas:hover .index__descripcion {
  opacity: 1;
}

.index {
  background: #c5e48cfe;
}

.index__playa {
  background-image: url(../Assets/CostaPlaya1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-size: medium;
  color: black;
  font-weight: bolder;
}

.index__cabañas {
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 1px 0;
}
.adicional__foto{
  border:solid;color: #578e3e;
}
.adicional{
  padding: 4rem 0;
  background-color: white;
}

.adicional__titulo {
  margin: auto auto 2rem 0;
  
}

.adicional__parrafo {
  width: 80%;
  margin: 0 auto auto 0;
}

/* principal */
.grilla {
  background-color: #c5e48c;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "cabaña foto";
}
.grilla__foto {
  margin-top: 15rem;
  width: 32rem;
  grid-area: foto;
  border: solid;
  color: #578e3e;
}

.grilla__carousel{
  padding-left: 1rem;
  padding-right: 1rem;
}

.contacto {
  background-color: #c5e48cd7;
}


.contacto__itemFormulario {
  margin: 0.4rem 2rem 0.4rem 2rem;
  background-color: #94c080;
  padding: 3px;
  border-radius: 4px;
}

.contacto__boton {
  border: none;
  width: 60%;
  background-color: #578e3e;
  padding: 10px;
  margin-left: 3rem;

}

.contacto__botonEnviar :hover {
  transition: all 0.3s ease;
  background: rgba(117, 166, 28, 1);
  font-weight: bold;
}

.contacto__formulario {
  background-color: #94c080;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c5e48c;
  font-size: medium;
  color: black;
  font-weight: bold;
  padding-bottom: 10rem;

}
.ubicacion__mapaCabañas {
  width: 40rem;
  height:30rem;
  border-radius: 1rem;
  position: relative;
  transition: .5s ease all;
  top: 2rem;
}

.ubicacion__mapa :hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  border-radius: 1rem;
}
.cabaña__titulo {
  margin: 1rem;
  text-decoration: underline;

}

.cabaña__planta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: medium;
  text-decoration: underline;
}

.cabaña {
  font-size: small;
  margin-left: 3rem;
  margin-top: 4rem;
  grid-area: cabaña;
}
.cabañas {
  background-color: #c5e48c;

}

.contacto__infoDeContacto {
  margin-bottom: 4rem;
}

.direccion {
  background: rgb(117, 166, 28);
  background: radial-gradient(circle, rgba(117, 166, 28, 1) 0%, rgba(149, 190, 72, 1) 46%, rgba(143, 168, 93, 1) 100%);

}

.direccion__instagram {
  width: 2.1rem;
}

.direccion__facebook {
  width: 1.7rem;
  margin-right: 2rem;

}

.direccion__texto {
  text-decoration: solid;
  color: black;
  font-weight: bold;
  padding: 1.5rem;
}

.servicios__fotoHamacas {
  position: relative;
  top: 2rem;
  border: solid;
  color: #578e3e;
}

.servicios__fotoParrilla {
  position: relative;
  top: 3rem;
  border: solid;
  color: #578e3e;
}


.servicios__container {
  background-color: #c5e48c;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.servicios__titulo {
  margin: 1rem auto 2rem 0;
  text-decoration: underline;
}

.servicios__item {
  width: 80%;
  margin: 0rem auto auto 0rem;
  padding-left: 1rem;
  font-size: larger;
   }

/*
320px-480px: Mobile devices
481px-768px: Ipods,Tablets
769px-1024px: Small screens, Laptops
1025px-1200px: Desktops, Large screens
1201px and  more- extra Large screens, TV
*/
/* Small*/
@media screen and (max-width: 576px) {
  .index__playa {
    height: 50rem;
  }

  .index__foto {
    width: 100%;
  }

  .index__cabañas {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .grilla__foto {
    display: 10rem;
  }

  .ubicacion__mapa:hover {
    display: none;
  }
  .adicional__titulo{
    margin: 1rem auto 1rem auto;
    
  }
  
  .adicional__parrafo {
    width: 80%;
    margin: 1rem auto 1rem auto;
  }
  .grilla {
    display: flex;
    flex-direction: column;
  }
  .servicios__container {
    display: flex;
    flex-direction:column;
  }
  .ubicacion__mapaCabañas{
  width: 18rem;
  height:14rem; }
}

/* Medium*/
@media screen and (max-width: 768px) {

  .grilla {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
  }

  .grilla__foto {
    margin-top: 3rem;
    width: 20rem;
  }

  .index__playa {
    height: 45rem;
  }

  .index__foto {
    width: 12.12rem;
    margin: 1rem;
  }

  .ubicacion_mapa:hover {
    display: none;
  }
  .adicional__titulo {
    margin: 1rem auto 1rem auto;
    
  }
  
  .adicional__parrafo{
    width: 80%;
    margin: 1rem auto 1rem auto;
  }
  .servicios__container {
    display: flex;
    flex-direction:column;
  }
  .ubicacion__mapaCabañas{
    width: 20rem;
    height:15rem; }
}

/* Medium*/
@media screen and (min-width: 768px) {
  .index__playa {
    height: 45rem;
  }

  .index_foto {
    width: 15rem;
    margin: 2rem;
  }

  .grilla__foto {
    width: 25rem;
    margin-right: 2rem;
  }

}