@charset "UTF-8";
/*reseteo de css*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Nunito:ital,wght@0,200;0,300;0,400;1,300;1,400&family=Raleway:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.greenbackground {
  color: #c5e48cfe; }

.whitebackground {
  color: white; }

.indexbackground {
  color: #c5e48c4c; }

.color {
  color: black; }

.hover {
  color: #6b6a6a; }

.hovernav {
  color: #4c4b4b; }

.border {
  color: #578e3e solid 0.5rem; }

.form {
  color: #578e3e; }

.botonhover {
  color: #75a61c; }

.formulariobackground {
  color: #94c080; }

.sustituto {
  color: #75a61c; }

.direcciongradiente {
  color: radial-gradient(circle, #75a61c 0%, #95be48 46%, #8fa85d 100%); }

.tipografia {
  font: bolder; }

.mediano {
  font: medium; }

.pequeño {
  font: small; }

.grande {
  font: larger; }

html {
  font-family: "Nunito", sans-serif; }

.index {
  background: #c5e48cfe; }
  .index__descripcion {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #c5e48c4c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.5s opacity ease-in-out;
    opacity: 0; }
  .index__cabañas:hover .index__descripcion {
    opacity: 1.5; }
  .index__playa {
    background-image: url(../Assets/CostaPlaya1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-weight: bolder;
    font-weight: bold; }
  .index__cabañas {
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background: transparent;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 1px 0; }
  .index__foto {
    width: 20rem;
    border: #578e3e solid 0.5rem;
    transition: 2s transform;
    display: block; }

.barra {
  /* Escondo el menú para que no esté activo siempre */
  /* Al hacer hover en el activador > modifico el submenú */ }
  .barra__logoElComienzo {
    width: 10rem; }
  .barra__link {
    color: black; }
  .barra__link:hover {
    color: #6b6a6a; }
  .barra__lista {
    display: none; }
  .barra__submenu:hover > .barra__lista {
    display: block;
    position: absolute;
    list-style-type: none;
    background-color: #c5e48cfe;
    border: solid;
    color: #6b6a6a;
    padding: 1rem; }
  .barra__lista a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block; }
  .barra__lista a:hover {
    color: #4c4b4b;
    text-decoration: none; }

.adicional {
  padding: 6rem 0;
  background-color: white; }
  .adicional__foto {
    border: #578e3e solid 0.5rem; }
  .adicional__titulo {
    margin: auto auto 2rem 0; }
  .adicional__parrafo {
    width: 80%;
    margin: 0 auto auto 0; }

.grilla {
  background-color: #c5e48cfe;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  grid-template-areas: "cabaña foto"; }
  .grilla__foto {
    margin-top: 15rem;
    width: 32rem;
    border: #578e3e solid 0.5rem;
    grid-area: foto; }
  .grilla__carousel {
    padding-left: 1rem;
    padding-right: 1rem; }

.contacto {
  background-color: #c5e48cfe; }
  .contacto__itemFormulario {
    margin: 0.4rem 2rem 0.4rem 2rem;
    background-color: #94c080;
    padding: 3px;
    border-radius: 4px; }
  .contacto__boton {
    border: none;
    width: 60%;
    background-color: #578e3e;
    padding: 10px;
    margin-left: 3rem; }
  .contacto__botonEnviar :hover {
    transition: all 0.3s ease;
    background: #75a61c;
    font-weight: bold; }
  .contacto__formulario {
    background-color: #94c080;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .contacto__infoDeContacto {
    margin-bottom: 4rem; }

.cabaña {
  font-size: small;
  margin-left: 3rem;
  margin-top: 4rem;
  grid-area: cabaña; }
  .cabaña__titulo {
    margin: 1rem;
    text-decoration: underline; }
  .cabaña__planta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: medium;
    text-decoration: underline; }

.cabañas {
  background-color: #c5e48cfe; }
  .cabañas__nav {
    padding-top: 3rem; }
  .cabañas__link:hover {
    color: black;
    font-weight: bolder;
    font-weight: bold; }
  .cabañas__link {
    color: black; }

.ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #c5e48cfe;
  font-size: medium;
  color: black;
  font-weight: bolder;
  font-weight: bold;
  padding-bottom: 10rem; }
  .ubicacion__mapaCabañas {
    width: 40rem;
    height: 30rem;
    border-radius: 1rem;
    position: relative;
    transition: .5s ease all;
    top: 4rem; }
  .ubicacion__mapa :hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    border-radius: 1rem; }

.servicios__fotoHamacas, .servicios__fotoParrilla {
  position: relative;
  top: 2rem;
  border: #578e3e solid 0.5rem; }

.servicios__fotoParrilla {
  top: 3rem; }

.servicios__container {
  background-color: #c5e48cfe;
  padding-left: 2rem;
  padding-bottom: 4rem; }

.servicios__titulo {
  margin: 1rem auto 2rem 0;
  text-decoration: underline; }

.servicios__item {
  width: 80%;
  margin: 0rem auto auto 0rem;
  padding-left: 1rem;
  font-size: medium; }

.direccion {
  background: #75a61c;
  background: radial-gradient(circle, #75a61c 0%, #95be48 46%, #8fa85d 100%); }
  .direccion__socialMedia {
    display: flex;
    align-items: center;
    justify-content: center; }
  .direccion__instagram {
    width: 2.1rem; }
  .direccion__facebook {
    width: 1.7rem;
    margin-right: 2rem; }
  .direccion__texto {
    text-decoration: solid;
    color: black;
    font-weight: bolder;
    font-weight: bold;
    padding: 1.5rem; }

/*
320px-480px: Mobile devices
481px-768px: Ipods,Tablets
769px-1024px: Small screens, Laptops
1025px-1200px: Desktops, Large screens
1201px and  more- extra Large screens, TV
*/
/* Small*/
@media screen and (max-width: 480px) {
  .index__playa {
    height: 50rem; }
  .index__foto {
    width: 100%; }
  .index__cabañas {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .grilla {
    display: flex;
    flex-direction: column; }
    .grilla__foto {
      display: 10rem; }
  .adicional__titulo {
    margin: 1rem auto 1rem auto; }
  .adicional__parrafo {
    width: 80%;
    margin: 1rem auto 1rem auto; }
  .servicios__container {
    display: flex;
    flex-direction: column; }
  .ubicacion__mapaCabañas {
    width: 18rem;
    height: 14rem; }
  .ubicacion__mapa:hover {
    display: none; }
  .cabaña {
    margin-left: 1rem; } }

/* Medium*/
@media screen and (max-width: 768px) {
  .index__playa {
    height: 45rem; }
  .index__foto {
    width: 12.12rem;
    margin: 1rem; }
  .grilla {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .grilla__foto {
      margin-top: 3rem;
      width: 20rem; }
  .adicional__titulo {
    margin: 1rem auto 1rem auto; }
  .adicional__parrafo {
    width: 80%;
    margin: 1rem auto 1rem auto; }
  .servicios__container {
    display: flex;
    flex-direction: column; }
  .ubicacion__mapaCabañas {
    width: 20rem;
    height: 15rem; }
  .ubicacion_mapa:hover {
    display: none; } }

/* Medium*/
@media screen and (min-width: 768px) {
  .index__playa {
    height: 45rem; }
  .index__foto {
    width: 15rem;
    margin: 2rem; }
  .grilla__foto {
    width: 25rem;
    margin-right: 2rem; } }
