.adicional{
    padding: 6rem 0;
    background-color: $whitebackground;
    &__foto{
        border:$border;
    }
    &__titulo {
    margin: auto auto 2rem 0; 
    }
    &__parrafo {
    width: 80%;
    margin: 0 auto auto 0;
    }
  }
  