.adicional{
    padding: 6rem 0;
    background-color: white;
    &__foto{
        border:solid;color: #578e3e;
    }
    &__titulo {
    margin: auto auto 2rem 0; 
    }
    &__parrafo {
    width: 80%;
    margin: 0 auto auto 0;
    }
  }
  