.adicional{
    padding: 6rem 0;
    background-color: map-get($colores,whitebackground);
    &__foto{
        border:map-get($colores,border)
    }
    &__titulo {
    margin: auto auto 2rem 0; 
    }
    &__parrafo {
    width: 80%;
    margin: 0 auto auto 0;}
  }