.barra{
  font-family:'Nunito', sans-serif;
&__logoElComienzo {
        width: 10rem;
      }
&__link {
        color: map-get($colores,color);
      }
      
&__link:hover {
  border-bottom: rgb(107, 106, 106) solid 2px;
  color: map-get($colores, hovernav )
      }
 }

    
   
    
  