.cabaña {
    font-size: map-get($fuente, pequeño );
    margin-left: 3rem;
    margin-top: 4rem;
    grid-area: cabaña;
&__titulo {
        margin: 1rem;
        text-decoration: underline;
      }   
 &__planta {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: map-get($fuente, mediano);
        text-decoration: underline;
      }
    }

  
 