.cabañas{
    background-color: map-get($colores,greenbackground);
&__nav {
        padding-top: 3rem;
      }
&__link:hover {
  @include link (map-get($colores,color),bolder)
      }
 &__link {
  color: map-get($colores,color);
}
}