.cabañas{
    background-color: #c5e48c;
&__nav {
        padding-top: 3rem;
      }
&__link:hover {
        color: #000000;
        font-weight: bolder;
      }
 &__link {
        color: black;
      }
}