.cabaña {
    font-size:16px;
    font-family:'Nunito', sans-serif;
    color:map-get($colores, color);
    margin-left: 3rem;
    margin-top: 4rem;
    grid-area: cabaña;
&__titulo {
        text-decoration: underline;
      }   
 &__planta {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: map-get($fuente, mediano);
        text-decoration: underline;
      }
    }

  
 