.cabañas{
    background-color: $greenbackround;
&__nav {
        padding-top: 3rem;
      }
&__link:hover {
        color: $color;
        font-weight: bolder;
      }
 &__link {
        color: $color;
      }
}