.contacto {
    background-color: $greenbackround;
    &__itemFormulario {
        margin: 0.4rem 2rem 0.4rem 2rem;
        background-color: #94c080;
        padding: 3px;
        border-radius: 4px;
      }
    &__boton {
        border: none;
        width: 60%;
        background-color: map-get($colores,form);
        padding: 10px;
        margin-left: 3rem;
      }
    &__botonEnviar :hover {
        transition: all 0.3s ease;
        background: map-get($colores,botonhover);
        font-weight: bold;
      }
    &__formulario {
        background-color: map-get($colores,formulariobackground);
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      &__infoDeContacto {
        margin-bottom: 4rem;
      }
  }
  
  
  
  
  
  
  
  
  