.direccion {
    background: map-get($colores,sustituto ) ;
    background:map-get($colores,direcciongradiente ) ;
&__instagram {
        width: 2.1rem;
      }
      
&__facebook {
        width: 1.7rem;
        margin-right: 2rem;
      }
      
&__texto {
        text-decoration: solid;
        color: map-get($colores,color);
        font-weight: bold;
        padding: 1.5rem;
      }
  }
  