.direccion {
    background: map-get($colores,sustituto ) ;
    background:map-get($colores,direcciongradiente ) ;
&__socialMedia{
  display: flex;
  align-items: center;
 justify-content: center;
}
&__instagram {
        width: 2.1rem;
      }
      
&__facebook {
        width: 1.7rem;
        margin-right: 2rem;
      }
      
&__texto {
        text-decoration: solid;
        @include link (bold,map-get($colores,color));
        padding: 1.5rem;
      }
  }
  