.grilla {
    background-color: map-get($colores, greenbackground );
    font-family:'Nunito', sans-serif;
    color: map-get($colores, color);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "cabaña foto";
&__foto {
    margin-top: 15rem;
    width: 32rem;
   border: map-get($colores,border);
    grid-area: foto;
    }
&__carousel{
        padding-left: 1rem;
        padding-right: 1rem;
      }
  }
  