.grilla {
    background-color: $greenbackround;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "cabaña foto";
&__foto {
    margin-top: 15rem;
    width: 32rem;
    grid-area: foto;
    border: solid;
    color: $border;
      }
&__carousel{
        padding-left: 1rem;
        padding-right: 1rem;
      }
  }
  