.index {
    background: map-get($colores, greenbackground);
      &__descripcion {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: map-get($colores, indexbackground );
        display: flex;
        justify-content: center;
        align-items: center;
       @include link (black,bold);
        font-family: sans-serif;
        transition: 0.5s opacity ease-in-out;
        opacity: 0;
      }
      &__cabañas:hover &__descripcion {
        opacity: 1;
      }
      &__playa {
        background-image: url(../Assets/CostaPlaya1.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        font-size: map-get($fuente , medium );
        @include link (bolder,map-get($colores,color));
        @include movil {
          height: 50rem;
        }
        @include tabletmax{
          height: 45rem;
        }
        @include tabletmin {
          height: 45rem;
        }
        }
      &__cabañas {
        list-style: none;
        padding-top: 1rem;
        padding-bottom: 3rem;
        background: transparent;
        display: inline-block;
        overflow: hidden;
        position: relative;
        margin: 1px 0;
        @include movil {
          margin-top: 1rem;
          display: flex;
          justify-content: center;
        }
      }
      &__foto {
        width: 20rem;
       border:map-get($colores,border);
        transition: 2s transform;
        display: block;
        @include movil {
          width: 100%;
        }
        @include tabletmax {
          width: 12.12rem;
          margin: 1rem;
        }
        @include tabletmin{
          width: 15rem;
          margin: 2rem;
        }
      }
  }