.servicios{
&__fotoHamacas {
        position: relative;
        top: 2rem;
        color: $border;
      }
      
&__fotoParrilla {
        position: relative;
        top: 3rem;
        color: $border;
      }
      
      
&__container {
        background-color: map-get($colores, greenbackground);
        padding-left: 2rem;
        padding-bottom: 4rem;
      }
      
&__titulo {
        margin: 1rem auto 2rem 0;
        text-decoration: underline;
      }
      
&__item {
        width: 80%;
        margin: 0rem auto auto 0rem;
        padding-left: 1rem;
        font-size: larger;
         }
}