.servicios{
  font-family:'Nunito', sans-serif;
&__fotoHamacas {
        position: relative;
        top: 2rem;
        border: map-get($colores, border);
      }
      
&__fotoParrilla {
       @extend .servicios__fotoHamacas;
        top: 3rem;
      } 
&__container {
        background-color: map-get($colores, greenbackground);
        padding-left: 2rem;
        padding-bottom: 4rem;
      }
      
&__titulo {
        margin: 1rem auto 2rem 0;
        text-decoration: underline;
      }
      
&__item {
        width: 80%;
        margin: 0rem auto auto 0rem;
        padding-left: 1rem;
        font-size: map-get($fuente, mediano);
         }
        }
