.ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: map-get($colores, greenbackground);
    font-size: map-get($fuente, mediano );
    @include link ( bold,map-get($colores,color));
    padding-bottom: 10rem;
&__mapaCabañas {
        width: 40rem;
        height:30rem;
        border-radius: 1rem;
        position: relative;
        transition: .5s ease all;
        top: 4rem;
      }
 &__mapa :hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        border-radius: 1rem;
      }
  @include movil{
    &__mapaCabañas{
      width: 18rem;
      height:14rem; }
      
      &__mapa:hover {
        display: none;
      }
  }
  @include tabletmax{
    &__mapaCabañas{
      width: 20rem;
      height:15rem; }
    
    &_mapa:hover {
        display: none;
      }
  }
  }
  