$colores:(
 "greenbackground":#c5e48cfe,
 "whitebackground": white ,
 "indexbackground":#c5e48c4c,
 "color":black,
 "border":#578e3e solid 0.5rem,
 "form":#578e3e,
 "botonhover":rgba(117, 166, 28, 1),
 "formulariobackground":#94c080,
 "sustituto": rgb(117, 166, 28),
 "direcciongradiente": radial-gradient(circle, rgba(117, 166, 28, 1) 0%, rgba(149, 190, 72, 1) 46%, rgba(143, 168, 93, 1) 100%),
);
@each $color,$value in $colores {
    .#{$color} {
        color:#{$value};
    } 
};
$fuente:(
    "tipografia": bolder,
    "mediano":medium,
    "pequeño":small,
    "grande":larger
);
@each $color, $value in $fuente {
    .#{$color}{
        font: #{$value}
    }
}
@mixin link( $color, $font-weight){
    color:map-get($colores,color);
    font-weight: bolder;
    font-weight: bold;
}


 
